

/********** Base styles **********/
* {
  box-sizing: border-box;
font-family: Helvetica;
}

h1 {

    text-align: center;
}

h2 {
    float: right;
 border-style: solid;
 border-color: black;
 margin: 0;
 padding-left: 40px;
padding-right: 40px;
 font-size: 1.2em;
       
}



/************ Colors for H2's************/

.chicken {
    background-color: pink;
}

.beef {
    background-color: red;
    color: white;
}

.sushi {
    background-color: lightgoldenrodyellow;
}

/************ In-box text styling ************/

p {
    padding-top: 10%;
  width: 90%;
  margin: auto;
      margin-bottom: 10px;
  color: black;
    font-size: 1em;
}

/* Simple Responsive Framework. */
.row {
  width: %;
  margin-left: auto ;
  margin-right: auto ;
  
}

section div {
    background: grey;
    border: 1 px black;
}

/********** Desktop View only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 5px solid black;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }



/********** Tablet View only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 5px solid black;

  }


  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

/********** Mobile View only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    border: 5px solid black;
  }
    
     .col-sm-12 {
    width: 100%;
  }